@import "app/app.css";
@import "colors.css";
@import "./fonts/font-faces.css";
@import "./fonts/fonts.css";
@import "markdown.css";
@import "cursor.css";

body {
    margin: 0;
}

img {
    user-select: none;
    height: auto;
    width: auto;
}